{% extends "base.html" %}
{% block title %}域名列表{% endblock %}
{% block body %}
<form name="form1" method="post" action="DomainList.aspx" class="span4 well">
    <p><a href="/add_domain">添加域名</a> <a href="/login_out">退出登录</a></p>
    <h4> VIP域名 (共0个) </h4>
    <table border="0" style="width:100%;">
        {% for i in domainvip %}
        <tr>
            <td style="width:70%;">
                {{ i['domainname'] }}
            </td>
            <td style="width:30%;">
                <a href="/editdomain?domain={{i['domainname']}}&domain_id={{i['domainid']}}" >编辑</a>

                {% if i['status']=="enable" %}
                <a href="/disabled/{{ i['domainname'] }}">禁用</a>
                {% elif i['status']=="pause" %}

                <a href="/enable/{{ i['domainname'] }}">启用</a>
                {% elif i['status']=="lock" %}
                锁定
                {% elif i['status']=="span" %}
                封禁
                {% endif %}
                <a href="/rm/{{ i['domainname'] }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h4> 免费域名 (共0个) </h4>
    <table border="0" style="width:100%;">
        {% for i in domainfree %}
        <tr>
            <td style="width:70%;">
                {{ i['domainname'] }}
            </td>
            <td style="width:30%;">
                <a href="/editdomain?domain={{i['domainname']}}&domain_id={{i['domainid']}}" >编辑</a>

                {% if i['status']=="enable" %}
                <a href="/disabled/{{ i['domainname'] }}">禁用</a>
                {% elif i['status']=="pause" %}

                <a href="/enable/{{ i['domainname'] }}">启用</a>
                {% elif i['status']=="lock" %}
                锁定
                {% elif i['status']=="span" %}
                封禁
                {% endif %}
                <a href="/rm/{{ i['domainname'] }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>{{ state }}</p>                
</form>
{% endblock %}
