<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	域名列表
</title><link rel="Stylesheet" href="/static/css/Common.css" type="text/css" /><meta name="viewport" content="width=device-width" charset="utf-8" /></head>
<body>
<div style="border:1px solid #CCCCCC; width:270px; height:auto; background:#EEE; margin-bottom:10px;padding:20px; font-size:12px; margin:auto" class="websjy2";>
    <form name="form1" method="post" action="DomainList.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTAwNjA0MjY0MGRkQCyWd3l4MofqbRwcXZcRYRzjuHCI5xRBCoBeOhLU8Hw=" />
</div>

<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwLghISLCQKv4IurCAKvjJe8CjCQ6I6GYkoTiiGwCpeZTWptaVZn8ywr4y5usAsK91jk" />
</div>
    <a href="/add_domain">添加域名</a> <a href="../Actions.ashx?action=logout">退出登录</a><br />
    快速跳转
    <input name="ctlJumpDomainTextBox" type="text" id="ctlJumpDomainTextBox" style="width:150px;" />
    <input type="submit" name="ctlJumpToDomainButton" value="确定" id="ctlJumpToDomainButton" />
    <br />
    
    &nbsp;
    
            <table border="0" cellpadding="1" cellspacing="0.5" width="250px">
                <tr>
                    <td class="splitLineDown">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    VIP域名 (共<span id="ctlVIPDomainDataList_ctl00_ctlDomainTotalLabel">0</span>个)
                                </td>
                                <td align="right">
                                    <a href="#">TOP</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
        
            </table>
        
    <br />
    
            <table border="0" cellpadding="1" cellspacing="0.5" width="250px">
                <tr>
                    <td class="splitLineDown">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    免费域名 (共<span id="ctlFreeDomainDataList_ctl00_ctlDomainTotalLabel">9</span>个)
                                </td>
                                <td align="right">
                                    <a href="#">TOP</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl01_Label2">1111111.tk</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl01_ctlToModifyHyperLink" href="RecordList.aspx?domain=1111111.tk">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,4672786">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,4672786">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl02_Label2">travel-freedom.tk</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl02_ctlToModifyHyperLink" href="RecordList.aspx?domain=travel-freedom.tk">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3036216">

                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3036216">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl03_Label2">sbxxx.com</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl03_ctlToModifyHyperLink" href="RecordList.aspx?domain=sbxxx.com">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3784738">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3784738">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl04_Label2">sc601.com.es</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl04_ctlToModifyHyperLink" href="RecordList.aspx?domain=sc601.com.es">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3700061">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3700061">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl05_Label2">flytome.tk</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl05_ctlToModifyHyperLink" href="RecordList.aspx?domain=flytome.tk">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,2250841">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,2250841">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl06_Label2">helloyuezhangmen8879.xxx</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl06_ctlToModifyHyperLink" href="RecordList.aspx?domain=helloyuezhangmen8879.xxx">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3664973">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3664973">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl07_Label2">oksfa.tw</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl07_ctlToModifyHyperLink" href="RecordList.aspx?domain=oksfa.tw">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3561050">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3561050">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl08_Label2">fls.tk</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl08_ctlToModifyHyperLink" href="RecordList.aspx?domain=fls.tk">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3210225">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3210225">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td colspan="3">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <span id="ctlFreeDomainDataList_ctl09_Label2">mdc1.pw</span>
                            </td>
                            <td align="right">
                                <a id="ctlFreeDomainDataList_ctl09_ctlToModifyHyperLink" href="RecordList.aspx?domain=mdc1.pw">编辑</a>
                                <a href="MessageBox.aspx?params=0,1,3100531">
                                    禁用</a> <a href="MessageBox.aspx?params=-1,1,3100531">
                                        删除</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            </table>
        
    <br />
    
            <table border="0" cellpadding="1" cellspacing="0.5" width="250px">
                <tr>
                    <td class="splitLineDown">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    已禁用域名 (共<span id="ctlDisabledDomainDataList_ctl00_ctlDomainTotalLabel">0</span>个)
                                </td>
                                <td align="right">
                                    <a href="#">TOP</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
        
            </table>
        
    <br />
    <table width="250px">
        <tr>
            <td align="center">
                
<p>@ 2013 DNSPod</p>

            </td>
        </tr>
    </table>
    </form>
    </div>
</body>
</html>

