{% extends "base.html" %}
{% block title %}{{ domain }}记录列表{% endblock %}
{% block body %}
<form name="add_domain" method="post" action="/add_domains" id="form1" class="span4 well">
    <h3>{{domain}}记录列表</h3>
    <p>
    <a href="/domainlist/%20">返回域名列表</a>
    <a href="">添加记录</a>
    </p>

    <table border="0" style="width:100%;">
    {% for record in records %}
    <tr>
        <td style="width:70%;">{{ record["name"] }} {{ record["line"] }} {{ record["value"]}} 
        </td>
        <td style="width:30%;">
            <a href="/edit_record?domain={{domain}}&record_id={{record["id"]}}&domain_id={{domainid}}"> 编辑</a>
            <a href=>禁用</a>
            <a href="/rm_record?record_id={{record["id"]}}&domain_id={{domainid}}&domain={{domain}}"> 删除</a>
        </td>
    </tr>
    {% endfor %}

    {% if rm_state %}
    <p>{{ rm_state }}</p>
    {% endif %}
</table>
</form>
{% endblock %}
