<!CTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	DNSPod移动设备3G版
</title><link rel="Stylesheet" href="/static/css/Common.css" type="text/css" /><meta name="viewport" content="width=device-width" />
</head>
<style type="text/css">
.websjy2{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
table{font-family:"微软雅黑"; font-size:12px;}
</style>

<meta charset="utf-8" />
<body>

    <form name="form1" method="post" action="/user" id="form1" class="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE2ODUzMDE0NjZkZMN/78CM0AbOJxO3SvQrfUVKOHU5jtuZT14ttyag2p8v" />
</div>

<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALXqs/jDgKZ3uboCgLD2r/rAgKegd7yBV99P7tSRdeGUFAi95mQ6Bm4xW+2CmGieSMbioCr5OqM" />
</div>
<div style="border:1px solid #CCCCCC; width:270px; height:230px; background:#EEE; margin-bottom:10px;padding:20px; font-size:12px; margin:2px auto" class="websjy2";>
    <table border="0" cellpadding="0" cellspacing="5" width="250px">
        <tr>
            <td colspan="2">
                <div align="right">
                    WAP版 3G版
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="http://m.dnspod.cn/Images/LoginLogo.png" alt="" width="272" height="56" />
            </td>
        </tr>
        <tr>
            <td width="60">
                E-MAIL：
            </td>
            <td>
                <input name="user_mail" type="text" id="ctlUsernameTextBox" style="width:170px;" placeholder="请输入邮箱帐号！"/>
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
            <td>
                <input name="user_passwd" type="password" id="ctlPasswordTextBox" style="width:170px;" placeholder="请输入密码！"/>
                
                
            </td>
            
            <tr>
                <td>
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>&nbsp;
                    
                </td>
                <td>
                    <input type="submit" name="ctlSubmitButton" value="登陆" id="ctlSubmitButton" />
                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div align="center">
                        
<p align="center">@ 2013 DNSPod</p>

                    </div>
                </td>
            </tr>
    </table>
    </div>
    </form>
</body>
</html>

