{% extends "base.html" %}
{% block title %}DNSPod移动设备3G版{% endblock %}
{% block body %}
    <form style="margin: 0 auto;" class="well span4" method="post" action="/login">
        <h2>DNSPod手机网页版</h2>
        <input name="user_mail" type="text" placeholder="输入帐号，亲" value="{{ user_mail }}" /> <br>
        <input name="user_passwd" type="password" placeholder="输入密码，乖" value="{{ user_passwd }}" /> <br>
        {% if is_dtoken %}
        <input name="user_d" type="text" style="width:170px;" placeholder="别闹,开D令牌啦" /> <br>
        {% endif %}
        <button class="btn btn-large btn-primary" type="submit">登陆</button>
    </form>
{% endblock %}
