<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>
            DNSPod移动设备3G版
        </title>
        
        <meta name="viewport" content="width=device-width" charset="utf-8" />
        <style type="text/css">
		#td { font-family:"华文宋体"; font-size:9px}
.button { 
border-right: #7b9ebd 1px solid; 
padding-right: 2px; 
border-top: #7b9ebd 1px solid; 
padding-left: 2px; 
font-size: 12px; 
border-left: #7b9ebd 1px solid; 
cursor: hand; 
color: black; 
padding-top: 2px; 
border-bottom: #7b9ebd 1px solid 
}
		</style>
    </head>
    
    <body text-align:center>
        <form name="form1" method="post" action="/user" id="form1">
            <div>
                <input type="hidden" align="middle" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE2ODUzMDE0NjYPZBYCAgMPZBYEAgkPDxYCHgdWaXNpYmxlZ2RkAg8PDxYEHgRUZXh0BTjnlKjmiLflt7Lnu4/lpLHotKU65oKo5byA5ZCv5LqGROS7pOeJjO+8jOmcgOimgemqjOivgeeggR8AZ2RkZMLzI5+oEqhbtNhtt0Nniez5k3pSRoruI3hJ83jIvp4x"
                />
            </div>
            <div>
                <input type="hidden" align="middle" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBQKe4K3+BgKZ3uboCgLD2r/rAgLChNy0DQKegd7yBfozyrnboDm/DC9Si3UQBtGcNYUOSOZGcTwGhWvsPmT0"
                />
            </div>
            <table border="0" cellpadding="0" cellspacing="5" width="250px" align="center">
                <tr>
                    <td colspan="2">
                        <div align="right">
                            <a href="#">WAP版</a> <a href="#">3G版</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="http://m.dnspod.cn/Images/LoginLogo.png" alt="" width="272" height="56" />
                    </td>
                </tr>
                <tr>
                    <td width="65">
                        E-MAIL：
                    </td>
                    <td>
                        <input name="user_mail" type="email" value=" " placeholder="请输入邮箱帐号！"
                        id="ctlUsernameTextBox" style="width:170px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        密码：
                    </td>
                    <td>
                        <input name="user_passwd" type="password" id="ctlPasswordTextBox" placeholder="请输入密码！"
                        style="width:170px;" />
                    </td>
                    <div id="pnlToken">
                        <tr>
                            <td width="60">
                                D令牌：
                            </td>
                            <td>
                                <input name="txtToken" type="text" id="txtToken" style="width:170px;" placeholder="请输入D令牌密码！"
                                />
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                            
                        </td>
                        <td>
                            <input type="submit" name="ctlSubmitButton" value="登陆" id="ctlSubmitButton"  
                            />
                            <span id="ctlMessageLabel">
                                用户已经失败:您开启了D令牌，需要验证码
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div align="center">
                                <p align="center">
                                    @ 2010 DNSPod
                                </p>
                            </div>
                        </td>
                    </tr>
            </table>
        </form>
    </body>

</html>
